* {
    box-sizing: border-box;
}

@font-face {
    font-family: Beleren;
    src: url('../fonts/Beleren Small Caps.ttf')
}

@font-face {
    font-family: Magic;
    src: url('../fonts/MPlantin.ttf')
}

.hidden {
    display:none;
    visibility: hidden;
}

body {
    padding: 0;
    margin: 0;

    font-family: Beleren;
    background: #eee;
}

header {
    border-bottom: 2px solid gray;
    box-shadow: 0 0 5px black;
    background: #ddd;
    padding-top: .5rem;
}

main {
    padding-bottom: 50px;
    padding-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    background: black;
    color: white;
    width: 100%;
    text-align: center;
}

.step {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;

    margin: 20px 0;
}

.step h2 {
    background: black;
    color: white;
    display: inline-block;
    padding-left: 10px;
    left: -10px;
    position: relative;
    padding-right: 10px;
}

.card-column {
    margin-top: 20px;
}

.card-tile {
    border: 1px solid gray;
    font-family: Magic
}

.card-tile input {
    width: 100%;
    position: relative;
    top: 6px;
}

.card-tile .mana {
    margin: 2px 0;
}

.mana {
    float:left;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid black;

    background-image: url('../img/mana-symbols.png');
    background-size: 189px;

    filter: drop-shadow(-0.5px 1px 0 black);
}

/* 
* MANA SYMBOLS
*/
.mana-0 {
    background-position: 0px 0px;
}
.mana-1 {
    background-position: -19px 0px;
}
.mana-2 {
    background-position: -38px 0px;
}
.mana-3 {
    background-position: -57px 0px;
}
.mana-4{
    background-position: -76px 0px;
}
.mana-5{
    background-position: -95px 0px;
}
.mana-6{
    background-position: -114px 0px;
}
.mana-7{
    background-position: -133px 0px;
}
.mana-8{
    background-position: -152px 0px;
}
.mana-9{
    background-position: -171px 0px;
}
.mana-10{
    background-position: -189px -19px;
}
.mana-11{
    background-position: -208px -19px;
}
.mana-12{
    background-position: -227px -19px;
}
.mana-13{
    background-position: -246px -19px;
}
.mana-14{
    background-position: -265px -19px;
}
.mana-15{
    background-position: -284px -19px;
}
.mana-16{
    background-position: -303px -19px;
}
.mana-17{
    background-position: -322px -19px;
}
.mana-18{
    background-position: -341px -19px;
}
.mana-19{
    background-position: -360px -19px;
}
.mana-20{
    background-position: -378px -38px;
}
.mana-W {
    background-position: -76px 94px;
}
.mana-W-P {
    background-position: -95px 56px;
}
.mana-W-U {
    background-position: 0px -57px;
}
.mana-W-B {
    background-position: -19px -57px;
}
.mana-U {
    background-position: -95px 94px;
}
.mana-U-P {
    background-position: -114px 56px;
}
.mana-U-B {
    background-position: -38px -57px;
}
.mana-U-R {
    background-position: -57px -57px;
}
.mana-B {
    background-position: -114px 94px;
}
.mana-B-P {
    background-position: -133px 56px;
}
.mana-B-R {
    background-position: -76px -57px;
}
.mana-B-G {
    background-position: -95px -57px;
}
.mana-R {
    background-position: -133px 94px;
}
.mana-R-P {
    background-position: -152px 56px;
}
.mana-R-W {
    background-position: -114px -57px;
}
.mana-R-G {
    background-position: -133px -57px;
}
.mana-G {
    background-position: -152px 94px;
}
.mana-G-P {
    background-position: -171px 56px;
}
.mana-G-W {
    background-position: -152px -57px;
}
.mana-G-U {
    background-position: -171px -57px;
}
.mana-2-W {
    background-position: 0px -76px;
}
.mana-2-U {
    background-position: -19px -76px;
}
.mana-2-B {
    background-position: -38px -76px;
}
.mana-2-R {
    background-position: -57px -76px;
}
.mana-2-G {
    background-position: -76px -76px;
}
.mana-INF {
    background-position: -38px -95px;
}
.mana-HC {
    background-position: -57px -95px;
}
.mana-100 {
    background-position: -93px -114px;
    border-radius: 10px;
    width: 36px;
}
.mana-1000000 {
    background-position: 0px -114px;
    border-radius: 10px;
    width: 94px;
}

/*
* Charts
*/

.chart {
    height: 300px;
}

.chart-overflow {
    overflow-y:scroll;
}

/*
* Card lists
*/
.cardCollapseList {
    border: 1px solid black;
    border-radius: 3px;
    max-height: 30px;
    transition: max-height 0.5s linear;
    overflow: hidden;
    margin: 2px 0;
}

.cardCollapseList .cardCollapseListBody {
    margin: 10px;
}

.cardCollapseList.open {
    max-height: 1000px;
}

.cardCollapseList .cardCollapseListTitle:before {
    content: ">";
    position:absolute;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    left: 0;
    top: 0;
    transition: transform 0.5s;
}
.cardCollapseList.open .cardCollapseListTitle:before {
    transform: rotate(90deg);
}

.cardCollapseListTitle {
    height: 30px;
    border-bottom: 1px solid black;
    border-radius: 3px;
    box-shadow: inset 0 0 3px black;
    line-height: 30px;
    padding-left: 30px;
    background: #ccc;
    position:relative;
}

.cardCollapseListItem{
    font-size: 12px;
    transition: all 0.25s;
    padding: 2px 10px
}
.cardCollapseListItem:hover {
    color:white;
    background:black;
}

.previewContainer {
    position:absolute;
    width: 200px;
    height: 260px;
}

/*
* Loader
*/
#loader-container {
    background: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    position:absolute;
    top:0;
}

/** LOADER ANIMATION **/
@keyframes lds-wedges {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes lds-wedges {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .lds-wedges {
    position: relative;
    margin: auto;
    top: calc(50vh - 100px);
  }
  .lds-wedges > div > div {
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
    -webkit-animation: lds-wedges 3.5s linear infinite;
    animation: lds-wedges 3.5s linear infinite;
    opacity: 0.8;
  }
  .lds-wedges > div > div > div {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 70px;
    height: 70px;
    border-radius: 70px 0 0 0;
    -webkit-transform-origin: 100px 100px;
    transform-origin: 100px 100px;
  }
  .lds-wedges > div div:nth-child(1) > div {
    background: #ffeb75;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .lds-wedges > div div:nth-child(1) {
    -webkit-animation-duration: 0.875s;
    animation-duration: 0.875s;
  }
  .lds-wedges > div div:nth-child(2) > div {
    background: #406eff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .lds-wedges > div div:nth-child(2) {
    -webkit-animation-duration: 1.166666666666667s;
    animation-duration: 1.166666666666667s;
  }
  .lds-wedges > div div:nth-child(3) > div {
    background: #c72020;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .lds-wedges > div div:nth-child(3) {
    -webkit-animation-duration: 1.75s;
    animation-duration: 1.75s;
  }
  .lds-wedges > div div:nth-child(4) > div {
    background: #429926;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .lds-wedges > div div:nth-child(4) {
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
  }
  .lds-wedges {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }